// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-night-rider: #333333;
$color-catalina-blue: #1D3557;
$color-midnight-express: #112036;

// Typography
$ff-main: "Montserrat", serif;

// Viewport
$vp-tablet: 768px;
$vp-mobile: 550px;

// Animation
$transition-300: ease-in 0.3s;